main {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
section.messages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}
section.messages > div.message {
    display: flex;
}
section.messages > div.message.left {}
section.messages > div.message.right {
    justify-content: end;
}